/* ********** Author: Milley Shu ************************** */
/* ********** Start Date: 2015/11/24 ********************** */
/* ********** End Date: ????/??/?? ************************ */
/* ********** Version: V-0.0.1 **************************** */
/* ********** Prepare this tempate for Hachathon ********** */
/* ********** class name can begin with "mt-" ************* */

*{
	margin: 0;
	padding: 0;
	font-family: 'Arial 微软雅黑';
}

/* ********** STATUS ( for button/icon/etc ) BEGIN ****************************** */
{} 			   	/* enabled + no_action */
:hover{}		/* enabled + no_action */
.mt-active{}	/* enabled + click */
.mt-disabled{} 	/* disabled */
/* ********** STATUS ( for button/icon/etc ) END ******************************** */


/* ********** BUTTON BEGIN ****************************************************** */
/* ********** BUTTON END ******************************************************** */


/* ********** TABLE BEGIN ******************************************************* */
/* ********** TABLE END ********************************************************* */


/* ********** FORM ELEMENT BEGIN ************************************************ */
/* ********** FORM ELEMENT END ************************************************** */


/* ********** FORM BEGIN ******************************************************** */
/* ********** FORM END ********************************************************** */


/* ********** IMG BEGIN ********************************************************* */
/* ********** IMG END *********************************************************** */


/* ********** TAB BEGIN ********************************************************* */
/* ********** TAB END *********************************************************** */


/* ********** PANEL BEGIN ******************************************************* */
/* ********** PANEL END ********************************************************* */